aiofiles>=24.1.0
asyncpg
bs4>=0.0.2
fastapi[all]>=0.115.6
lamda>=7.75
loguru>=0.7.2
playwright>=1.49.0
pyqt5>=5.15.11
pytesseract>=0.3.13
redis>=5.2.0
requests>=2.32.3
pysocks>=1.7.1
telethon>=1.38.1
motor>=3.6.0